[Unit]
Description=Mediaplayer Tool

[Service]
Type=simple
ExecStart=/usr/local/bin/mediaplayer.py
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=multi-user.target
